@import "tailwindcss";

@theme {
  --color-purple-light: #ebebfa;
  --color-purple-medium: #5651ea;
  --color-purple-dark: #5957a3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.node-icon > svg {
  fill: #5957a3;
}
